@font-face {
  font-family: 'tondoregular';
  src: url('../../fonts/tondo-webfont.eot');
  src: url('../../fonts/tondo-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/tondo-webfont.woff2') format('woff2'),
    url('../../fonts/tondo-webfont.woff') format('woff'),
    url('../../fonts/tondo-webfont.ttf') format('truetype'),
    url('../../fonts/tondo-webfont.svg#tondoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.home {
  width: 100%;
  height: calc(100% - 80px);
  padding: 30px;
  background-color: #f5f5f5;
  .homeWrap {
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    #initContent {
      margin: auto;
    }
  }
}

.elemContainer {
  width: 500px;
  height: calc(100% - 80px);
  position: absolute;
  top: 80px;
  right: 0;
  padding: 40px 20px;
  background-color: white;
  box-shadow: -10px 0px 10px -5px #ccc;
  transform: translateX(500px);
  transition: all 0.3s linear;
  background-color: #f5f5f5;
  .container {
    .row {
      .headersContainer {
        .row {
          cursor: pointer;
          padding: 10px 15px;
          background-color: white;
          border-radius: 15px;
          margin-top: 15px !important;
          p {
            width: 100%;
            margin-bottom: 10px;
            font-size: 8px;
          }
          h1 {
            width: 100%;
            margin-bottom: 10px;
            font-weight: 100 !important;
            font-size: 18px;
          }
        }
      }
    }
  }
}

.ecShow {
  transform: translateX(0) !important;
}
