html {
  width: 100% !important;
  height: 100% !important;
}

body,
#root {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.loginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../img/login-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginBox {
  display: flex;
  width: 50%;
  height: 50%;
  background-color: #fff;
  border-radius: 30px;
  .container-fluid {
    flex: 1;
    display: flex;
    padding: 0;
    margin: 0;
    .loginWrap {
      flex: 1;
      display: flex;
      .loginImg {
        flex: 1;
        background-image: url('../../img/login-img.jpg');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
      }
      .loginFormWrap {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        #loginForm {
          display: flex;
          flex-direction: column;
          width: 80%;
          font-family: 'Montserrat';
          font-size: 13px;
          .loginTitle {
            font-weight: 200;
            font-size: 22px;
            padding-bottom: 15px;
            border-bottom: 3px solid #ccc;
            margin-bottom: 40px;
          }

          .loginInput {
            padding: 0 15px;
            margin-bottom: 30px;
            border: none;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
          }

          .btn-login {
            padding-top: 4px !important;
            padding-bottom: 4px !important;
            font-size: 13px !important;
            text-transform: uppercase;
            background-color: #64b5f6;
            border: 2px solid #64b5f6;
            color: #fff;
            letter-spacing: 1px;
            border-radius: 20px;
            &:hover {
              background-color: #fff;
              color: #64b5f6;
            }
          }
        }
      }
    }
  }
}
